[defaults]
forks = 5
timeout = 120
gather_timeout = 60
host_key_checking = False
# Add 'profile_tasks' to the list of callbacks
callbacks_enabled = profile_tasks

[persistent_connection]
connect_timeout = 120
command_timeout = 120
retries = 5

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ControlMaster=auto -o ControlPersist=60s
retries = 5
pipelining = True