- name: Upload windows packages
  hosts: localhost
  vars:
    pr_tag: "{{ lookup('ansible.builtin.env', 'PR_TAG') }}"
    windows_bucket: logging-fb-windows-packages-1
    windows_matrix: "{{ lookup('file','../../versions/windowsMatrix.json') | from_json }}"
  roles:
    - andrewrothstein.gh
  tasks:
    - name: Set windows artifact names
      set_fact:
        windows_artifacts: "{{ windows_matrix | community.general.json_query('[*].targetPackageName') }}"

    - name: Download windows artifacts from github pre_release
      ansible.builtin.command: "gh release download {{ pr_tag }} --pattern '{{ item }}' --skip-existing"
      loop: "{{ windows_artifacts }}"

    - name: Upload windows artifacts
      ansible.builtin.command: "aws s3 cp {{ item }} s3://{{ windows_bucket }}/ --sse AES256"
      loop: "{{ windows_artifacts }}"
