- name: (linux) (prerelease) Install CrowdStrike Falcon and NRIA from prod bucket
  hosts: linux
  become: true
  gather_facts: no
  vars:
    repo_endpoint: "https://nr-downloads-main.s3.amazonaws.com/"
    recipe: "newrelic-infra"
    region: "US" # US | EU | STAGING
    nr_api_key: "{{ lookup('ansible.builtin.env', 'LOGINT_NEW_RELIC_API_KEY') }}"
    nr_account_id: "{{ lookup('ansible.builtin.env', 'LOGINT_NEW_RELIC_ACCOUNT_ID') }}"
  tasks:
    - name: Wait for connection to be available
      wait_for_connection:

    - name: Gather facts for first time
      ansible.builtin.setup:

    - name: Install crowdstrike falcon
      ansible.builtin.include_role:
        name: caos.ansible_roles.install_crowdstrike_falcon
      vars:
        falcon_client_id: "{{ lookup('env', 'CROWDSTRIKE_CLIENT_ID') }}"
        falcon_client_secret: "{{ lookup('env', 'CROWDSTRIKE_CLIENT_SECRET') }}"
        falcon_customer_id: "{{ lookup('env', 'CROWDSTRIKE_CUSTOMER_ID') }}"
        api_base_url: "https://api.laggar.gcw.crowdstrike.com"

#    - name: Install newrelic-infra agent
#      ansible.builtin.include_role:
#        name: caos.ansible_roles.newrelic_cli
#      vars:
#        repo_endpoint: "https://nr-downloads-main.s3.amazonaws.com/"
#        recipe: "newrelic-infra"
#        region: "US" # US | EU | STAGING
#        nr_api_key: "{{ lookup('ansible.builtin.env', 'LOGINT_NEW_RELIC_API_KEY') }}"
#        nr_account_id: "{{ lookup('ansible.builtin.env', 'LOGINT_NEW_RELIC_ACCOUNT_ID') }}"
#
#    - name: clean metadata
#      ansible.builtin.command: "yum clean metadata"
#      when: ansible_pkg_mgr == 'yum'

    - name: Download newrelic-cli installer
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/newrelic/newrelic-cli/master/scripts/install.sh
        dest: /tmp/newrelic-cli-install.sh
        mode: '0111'

    - name: Install newrelic-cli
      ansible.builtin.shell: yes | /tmp/newrelic-cli-install.sh

    - name: Install agent via newrelic-cli
      no_log: true
      ansible.builtin.shell: NEW_RELIC_DOWNLOAD_URL="{{ repo_endpoint }}" NEW_RELIC_REGION="{{ region }}" NEW_RELIC_API_KEY={{ nr_api_key }} NEW_RELIC_ACCOUNT_ID={{ nr_account_id }} /usr/local/bin/newrelic install -n {{ recipe }} --debug -y

- name: Install fluent-bit from GH prerelease
  hosts: linux
  vars:
    node_version: 16.14.0
    # The following information is populated using the gathered inventory variables
    fluent_bit_package_name: "{{ tags.fb_package_name }}"
    pre_release_name: "{{ tags.pre_release_name }}"
    fb_version: "{{ tags.fb_version }}"
    os_distro: "{{ tags.os_distro }}"
    os_version: "{{ tags.os_version }}"
    arch: "{{ tags.arch }}"
    nr_fb_output_plugin_version: 1.19.2
    # The following vars are injected in the fargate task env
    new_relic_api_key: "{{ lookup('ansible.builtin.env', 'NEW_RELIC_API_KEY') }}"
    new_relic_account_id: "{{ lookup('ansible.builtin.env', 'NEW_RELIC_ACCOUNT_ID') }}"
    new_relic_region: "{{ lookup('ansible.builtin.env', 'NEW_RELIC_REGION') }}"
  environment:
    NEW_RELIC_API_KEY: "{{ new_relic_api_key }}"
    NEW_RELIC_ACCOUNT_ID: "{{ new_relic_account_id }}"
    NEW_RELIC_REGION: "{{ new_relic_region }}"
  tasks:
    - name: Wait for connection to be available
      wait_for_connection:

    - name: Install Fluent Bit package to be tested for this distro
      ansible.builtin.include_role:
        name: install_fluent_bit_from_gh_prerelease
      vars:
        fb_package_name: "{{ fluent_bit_package_name }}"
        gh_prerelease_tag: "{{ pre_release_name }}"
      when: pre_release_name is not regex('^local-.*')

    - name: Install NR Fluent Bit output
      ansible.builtin.include_role:
        name: install_nr_fluent_bit_output
      vars:
        plugin_arch: "{{ (arch == 'x86_64' or arch == 'amd64') | ternary('amd64','arm64') }}"
        plugin_version: "{{ nr_fb_output_plugin_version }}"
