logs:
  - name: syslog-tcp-test
    syslog:
      uri: tcp://127.0.0.1:{{ monitored_syslog_rfc_5424_tcp_port }}
      parser: rfc5424
  - name: syslog-udp-test
    syslog:
      uri: tcp://127.0.0.1:{{ monitored_syslog_rfc_5424_udp_port }}
      parser: rfc5424