name: Run task in Fargate cluster

on:
  workflow_call:
    inputs:
      container_make_target:
        description: Make target to execute remotely in a Fargate task
        required: true
        type: string

jobs:
  run_task:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-2

      - name: Set branch name
        run: |
          # Short name for current branch. For PRs, use target branch (base ref)
          GIT_BRANCH="${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          # Is the ref a tag? If so, remove refs/tags/ prefix
          GIT_BRANCH="${GIT_BRANCH#refs/tags/}"
          echo "Git branch is ${GIT_BRANCH}"
          echo "GIT_BRANCH=$GIT_BRANCH" >> "$GITHUB_ENV"

      - name: Launch Fargate task
        uses: newrelic/fargate-runner-action@main
        with:
          aws_region: us-east-2
          container_make_target: ${{ inputs.container_make_target }}
          ecs_cluster_name: infra-agent-fb-e2e-testing
          task_definition_name: infra-agent-fb-e2e-testing-td
          cloud_watch_logs_group_name: infra-agent-fb-e2e-testing
          # The log stream name must follow the {cloudwatch_log_prefix}/{container_name}
          # that was used to create the ECS infrastructure. "ecs" is the default cloudwatch_log_prefix
          # when not specified, and our container_name is infra-agent-fb-e2e-testing
          cloud_watch_logs_stream_name: ecs/infra-agent-fb-e2e-testing
          aws_vpc_subnet: subnet-06240c469195932cf
          aws_vpc_security_groups: |
            sg-0c4318be91bbe3cba
          repo_name: "newrelic/fluent-bit-package"
          ref: ${{ env.GIT_BRANCH }}