name: run_e2e_tests HW workflow

on:
  # To be able to launch it from pull_request.yml programmatically
  workflow_call:
    inputs:
      gh_release_name:
        description: GitHub release name containing Fluent Bit packages
        required: false
        default: latest
        type: string
      infra_agent_version:
        description: Infrastructure Agent version
        required: true
        default: latest
        type: string
  # To be able to launch it from the Actions UI, on-demand
  workflow_dispatch:
    inputs:
      gh_release_name:
        description: GitHub release name containing Fluent Bit packages
        required: false
        default: latest
        type: string
      infra_agent_version:
        description: Infrastructure Agent version
        required: true
        default: latest
        type: string

# So that only one test suite will be run simultaneously against a given GH release. This ensures that there will not
# be multiple runners accessing the same Terraform state at the same time. Note that we need to set this lock here as well
# as in the pull_request.yml since this workflow can also be run on-demand from the UI, and potentially by the infrastructure-agent
# CI/CD pipeline.
concurrency: e2e-workflow-${{ inputs.gh_release_name }}

jobs:
  spin_up_test_executor_instances:
    name: Spin up test executor instances
    uses: ./.github/workflows/run_task.yml
    with:
      container_make_target: "terraform TERRAFORM_PROJECT=ec2-test-executors PR_NUMBER=${{ github.event.pull_request.number }}"
    secrets: inherit

  provision_and_execute_tests:
    name: Provision instances and run tests
    needs: spin_up_test_executor_instances
    uses: ./.github/workflows/run_task.yml
    with:
      container_make_target: "ansible/provision-and-execute-tests PR_NUMBER=${{ github.event.pull_request.number }}"
    secrets: inherit

  tear_down_test_executor_instances:
    name: Tear down test executor instances
    needs: provision_and_execute_tests
    uses: ./.github/workflows/run_task.yml
    with:
      container_make_target: "terraform-clean TERRAFORM_PROJECT=ec2-test-executors PR_NUMBER=${{ github.event.pull_request.number }}"
    secrets: inherit

  report_test_results:
    name: Report results
    runs-on: ubuntu-latest
    steps:
      - name: Download report from pre-release
        run: |
          gh release download "$pre_release_tag" --pattern 'test-report.xml'

      - name: Test Report
        uses: dorny/test-reporter@v1
        with:
          name: e2e-tests  # Name of the check run which will be created
          path: test-report.xml # Path to test results

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            test-report.xml